body {
	font-family: Arial;
	font-size: 1.5em;
	background-image: url("../img/bg-maison.png");
	background-repeat : repeat-x;
	background-color:  #aaa;
	padding: 0;
	margin : 0;
}

a {
	text-decoration: none;
}

.clear {
	clear: both;
}

.wrapper {
	width: 100%;
	display: block;
	position: static;
}

.search {
	background-image: none;
}
#header,#menu,#footer,#video{
	display : block;
	width: 980px;
	margin: 0 auto;
}

#header img {
	float: left;
	transform:rotate(30deg);
	-webkit-transform: rotate(30deg);
}

#header .titre {
	float: left;
}

#header h1,
#header h2 {
	padding: 0;
	margin : 0;
}

#header h1{
	color: #123456;
	animation: monanim 3s infinite;
	-webkit-animation: monanim 3s infinite;
}

#header h2{
	color: #ABCABC;
	background-color: #333;
	animation: monanim_inverse 3s infinite;
	-webkit-animation: monanim_inverse 3s infinite;
	
}

#menu {
	color : gray;
	text-shadow: 5px 0px 5px #CBACBA, -5px 0px 5px #BACBAC;
}

#menu ul {
	width: 100%;
	list-style-type: none;
}

#menu li {
	float: left;
	width: 25%;
	background-color: #333;
}

#menu li:hover {
	background-color: white;
	transform: rotate(30deg);
	-webkit-transform : rotate(30deg);
}

#menu li a {
	color : #ABCABC;
	width : 100%;
	text-align: center;
	display: inline-block;
	
}

#menu li a:hover {
	text-shadow: 5px 0px 50px #CBACBA, -5px 0px 50px #BACBAC;
}

div#contenu {
	width:100%;
	height:400px;
	background-color:#FFCC00;
	margin: 0 auto;
	}

#footer ul {
	width: 100%;
	list-style-type: none;
}

#footer li {
	float: left;
	width: 25%;
	background-color: rgba(255,165,140,0.25);
	color : #123456;
}

#footer li a {
	color : inherit;
	width: 100%;
	text-align: center;
	display: inline-block;
}

#footer li:hover {
	color : yellow;
	background-color: rgba(255,165,140,0.75);		
}

@keyframes monanim
{
0%	{color: red;}
50%	{color: yellow;}
100%	{color: red;}
}

@-webkit-keyframes monanim /* Safari and Chrome */
{
0%	{color: red;}
50%	{color: yellow;}
100%	{color: red;}
}

@keyframes monanim_inverse
{
0%	{color: yellow;}
50%	{color: red;}
100%	{color: yellow;}
}

@-webkit-keyframes monanim_inverse /* Safari and Chrome */
{
0%	{color: yellow;}
50%	{color: red;}
100%	{color: yellow;}
}

label
{
    display: block;
    width: 150px;
    float: left;
}
